:root {
  --primary-backgroundcolor: #F53134;
  --textcolor-first: #F53134;
  --headtext-size: 20px;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: monospace, sans-serif;
}

.page {
  position: relative;
  margin: 0;
}

.navbar {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding: 1em 3vw 1em 3vw;
  align-items: center;
  z-index: 999;
}

.nav-logo {
  width: 60px;
}

.navlist {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style-type: none;
  align-items: center;
}

.header-text-applinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

.link {
  color: var(--textcolor-first);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.linkalt {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.linkbtn {
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  text-decoration: none;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  gap: 8px;
}
.linkbtn .link-image {
  width: 25px;
}
.linkbtn .link-text {
  color: var(--textcolor-first);
}

.btn {
  padding: 5px;
  border-radius: 20px;
  background-color: var(--primary-backgroundcolor);
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 0 23px 0;
  background-color: var(--primary-backgroundcolor);
}
.header .header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header .header-container-coverimage {
  width: 35vw;
}
.header .header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .header-title-rihla {
  font-weight: bold;
  color: white;
}
.header .header-title {
  font-size: 1.45rem;
  font-weight: bold;
  text-align: center;
  color: white;
}
.header .header-titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  font-weight: bold;
  color: var(--textcolor-first);
}

.route-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.route-section .route-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 700px;
}
.route-section .route-block .route-block-img {
  width: 200px;
}
.route-section .route-block .route-block-linecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.route-section .route-block .route-block-linecontainer .route-block-line {
  margin-top: -5px;
  height: 500px;
}
.route-section .route-block .route-block-title {
  width: 200px;
  font-size: 24px;
  text-align: center;
  color: var(--textcolor-first);
  font-weight: bold;
}
.route-section .route-end-title {
  font-size: 32px;
  font-weight: bold;
  color: var(--textcolor-first);
  font-style: italic;
  text-align: center;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-page .about-titlesblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15vw;
  padding-right: 15vw;
}
.about-page .about-titlesblock .about-title {
  text-align: center;
  font-size: 22px;
  color: var(--textcolor-first);
  font-weight: bolder;
}

/*# sourceMappingURL=style.css.map */
